@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Neucha&display=swap');

:root {
  --color-primary: #38E991;
  --color-secondary: #0929a8;
  --color-tertiary: #50535C;
  --color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #051524;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha', 'Times New Roman', cursive;
}
